.row-fluid
  .span6.panel
    .actions
      = link_to new_note_path, :class => "btn" do
        %i.icon-edit
        New
    %h2 Notes
    = render :partial => 'notes/list', :locals => { :notes => @notes }
  .span6.panel
    .actions
      = link_to new_category_path, :class => "btn" do
        %i.icon-edit
        New
    %h2 Categories
    = render :partial => 'categories/list', :locals => { :categories => @categories }